<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Login</title>

		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--Bootstrap-->
		<link href="{%static "css/bootstrap.css" %}" rel="stylesheet">
	</head>
	<style>

			h1{

				margin-top:90px;

				margin-left:550px;

				color: red;

				text-transform: capitalize;

				text-shadow: 3px 2px black;

				height: 60px;

				text-align: center;

				font-family: "monospace serif sans-serif";

			}

			input{

				margin-left:100px;

			}

			label{

			margin-left: 100px;

			margin-bottom:10px;

			margin-top:10px;

			}



		</style>

	</head>

	<body background={% static "waw.jpg" %}>

		<div class="row">

		<div class="col-sm-4 col-sm-offset-4 ">

			<h1>LOGIN </h1>

			<form method = "post">

				{% csrf_token %}

					<div>

						<label for="username">Username: </label>

						<input id="username" type="text" name="username" value="">

					</div>

					<div>

						<label for = "password">Password: </label>

						<input id ="password" type="password" name="password" value="">

					</div>

					<input type="submit" value="Login" class="btn btn-success" style="margin-top: 20px;">

			</form>



		</div>

		</div>

			<!--Javascript files-->

			<!--Jquery library-->

			<script src="{% static "js/jquery-3.2.1.js" %}"></script>

			<!--Bootstrap js library-->

			<script src="{% static "js/bootstrap.js" %}"></script>

	</body>

</html>