<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Post</title>

    <style>



        body{

    background:url('3.jpg');

    background-size:100% 420px;

    padding-top:80px;

}

.nav{

    color:white;

    font-size: 30px;

   padding-top:10px;

   padding-left:50px;

    background:#7733FF    ;

    width:500px;

    height:400px;

    margin: auto;

    border-radius: 10px;

    opacity: .9;

}

    </style>

</head>

<body>

    <div class="nav">

    <form method="POST" action="" enctype="multipart/form-data">

        {% csrf_token %}



        {{ form.as_p }}

        <!--<div>

            <label for="image">Image: </label>

            <input id="image" type="file" name="image" accept="image/*" value={{ image }}>

        </div>

        <div>

            <label for="caption">Caption: </label>

            <input id="caption" type="text" name="image" value={{ caption }}>

        </div>-->



        <input type="submit" class="btn btn-default" value="Post">

    </form>

    </div>

</body>

</html>
